In [27]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as snb
import re

In [32]:
df = pd.read_csv('../data/World-Famous-Places-2024.csv')

In [6]:
# Types of data
df.dtypes

Place_Name                       object
Country                          object
City                             object
Annual_Visitors_Millions        float64
Type                             object
UNESCO_World_Heritage            object
Year_Built                       object
Entry_Fee_USD                     int64
Best_Visit_Month                 object
Region                           object
Tourism_Revenue_Million_USD       int64
Average_Visit_Duration_Hours    float64
Famous_For                       object
dtype: object

In [7]:
# Display Describe DataFrame
df.describe()

,Annual_Visitors_Millions,Entry_Fee_USD,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours
count,30.000000,30.000000,30.000000,30.000000
mean,11.331667,24.600000,593.500000,3.166667
std,12.044247,28.572473,1521.481894,2.499425
min,1.500000,0.000000,25.000000,0.500000
25%,4.775000,0.000000,61.250000,1.500000
50%,7.575000,19.000000,87.500000,2.250000
75%,12.250000,35.000000,167.500000,4.000000
max,50.000000,109.000000,6800.000000,10.000000

In [8]:
# General Info About DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Place_Name                    30 non-null     object
 1   Country                       30 non-null     object
 2   City                          30 non-null     object
 3   Annual_Visitors_Millions      30 non-null     float64
 4   Type                          30 non-null     object
 5   UNESCO_World_Heritage         30 non-null     object
 6   Year_Built                    30 non-null     object
 7   Entry_Fee_USD                 30 non-null     int64
 8   Best_Visit_Month              30 non-null     object
 9   Region                        30 non-null     object
 10  Tourism_Revenue_Million_USD   30 non-null     int64
 11  Average_Visit_Duration_Hours  30 non-null     float64
 12  Famous_For                    30 non-null     object
dtypes: float64(2), int64(2), object(9)
memory usage: 3.2+ KB

In [9]:
# Shape DataFrame
df.shape

(30, 13)

In [10]:
# DataFrame few results
df.head()

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"
3,Great Wall of China,China,Beijing/Multiple,10.0,Historic Monument,Yes,220 BC - 1644 AD,10,Apr-May/Sept-Oct,East Asia,180,4.0,Ancient defensive structure visible from space
4,Taj Mahal,India,Agra,7.5,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"

## EDA DataFrame

In [11]:
# Get null values
df.isnull().sum()

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [12]:
# duplicated Data
duplicados = df.duplicated().sum()
print(f'Hay {duplicados} datos duplicados')

Hay 0 datos duplicados

In [ ]:
# Duplicated by column Country
duplicate_by_country = df['Country'].value_counts()
print(f'{duplicate_by_country[duplicate_by_country > 1]}\n')
print(f'{duplicate_by_country[duplicate_by_country == 1]}\n')

Country
United States     10
France             4
United Kingdom     3
China              2
Italy              2
Name: count, dtype: int64

Country
India                   1
Australia               1
Peru                    1
Spain                   1
Cambodia                1
Egypt                   1
Greece                  1
United Arab Emirates    1
Brazil                  1
Name: count, dtype: int64

['France' 'United States' 'China' 'India' 'Italy' 'Australia' 'Peru'
 'Cambodia' 'Spain' 'Egypt' 'Greece' 'United Arab Emirates'
 'United Kingdom' 'Brazil']

In [15]:
# Duplicate by Type
duplicate_by_type = df['Type'].value_counts()
print(f'{duplicate_by_type[duplicate_by_type > 1]}\n')
print(f'{duplicate_by_type[duplicate_by_type == 1]}\n')

Type
Historic Monument      3
Cathedral              2
Historic Palace        2
Archaeological Site    2
Monument/Statue        2
Bridge                 2
Theme Park             2
Skyscraper             2
Name: count, dtype: int64

Type
Monument/Tower            1
Monument/Mausoleum        1
Museum                    1
Urban Landmark            1
Cultural Building         1
Entertainment District    1
Park                      1
Temple Complex            1
Monument/Memorial         1
Natural Wonder            1
Historic Tower            1
Clock Tower               1
Palace                    1
Name: count, dtype: int64

In [39]:
# Duplicated by Region
duplicate_by_region = df['Region'].value_counts()
print(f'{duplicate_by_region[duplicate_by_region > 1]}\n')
print(f'{duplicate_by_region[duplicate_by_region == 1]}\n')

Region
North America      10
Western Europe      7
Southern Europe     4
East Asia           2
South America       2
Name: count, dtype: int64

Region
South Asia        1
Oceania           1
Southeast Asia    1
North Africa      1
Middle East       1
Name: count, dtype: int64

In [ ]:
MONTHS = [
    "jan","feb","mar","apr","may",
    "jun","jul","aug","sep","oct","nov","dec"
]

def parse_month_ranges(text):
    if not isinstance(text, str):
        return []

    text = text.lower().replace(" ", "")
    ranges = text.split("/")

    result = []

    for r in ranges:
        start, end = r.split("-")

        start = start[:3]
        end = end[:3]

        start_idx = MONTHS.index(start)
        end_idx = MONTHS.index(end)

        if start_idx <= end_idx:
            result.extend(MONTHS[start_idx:end_idx + 1])
        else:
            result.extend(MONTHS[start_idx:])
            result.extend(MONTHS[:end_idx + 1])

    return sorted(set(result), key=MONTHS.index)
df['Best_Visit_Month'] = df['Best_Visit_Month'].apply(parse_month_ranges)
print(df['Best_Visit_Month'])

0                              [may, jun, sep, oct]
1                    [apr, may, jun, sep, oct, nov]
2                    [jan, feb, mar, oct, nov, dec]
3                              [apr, may, sep, oct]
4                    [jan, feb, mar, oct, nov, dec]
5                              [apr, may, sep, oct]
6                         [may, jun, jul, aug, sep]
7                                   [sep, oct, nov]
8               [apr, may, jun, jul, aug, sep, oct]
9                              [apr, may, sep, oct]
10                             [jan, feb, nov, dec]
11                        [apr, may, jun, sep, oct]
12                        [may, jun, jul, aug, sep]
13                   [mar, apr, may, sep, oct, nov]
14                        [may, jun, jul, aug, sep]
15                                  [sep, oct, nov]
16                        [apr, may, jun, sep, oct]
17                        [apr, may, jun, sep, oct]
18                        [apr, may, sep, oct, nov]
19    [jan, feb, mar, apr, may, sep, oct, nov, dec]
20                   [mar, apr, may, sep, oct, nov]
21              [jan, feb, mar, apr, oct, nov, dec]
22                             [apr, may, sep, oct]
23                        [apr, may, jun, sep, oct]
24                             [apr, may, sep, oct]
25                        [jan, feb, mar, nov, dec]
26                        [apr, may, jun, sep, oct]
27                        [may, jun, jul, aug, sep]
28                             [jun, jul, aug, sep]
29                   [apr, may, jun, sep, oct, nov]
Name: Best_Visit_Month, dtype: object

In [38]:
df['Famous_For'] = df['Famous_For'].fillna('Unknown')
df['Famous_For'].value_counts()

Famous_For
Iconic iron lattice tower, symbol of Paris                 1
Bright lights, Broadway shows, New Year's Eve ball drop    1
World's most visited museum, home to Mona Lisa             1
Ancient defensive structure visible from space             1
White marble mausoleum, symbol of love                     1
Ancient Roman amphitheater for gladiator battles           1
Symbol of freedom and democracy                            1
Unique sail-like design, performing arts center            1
Ancient Incan citadel in the Andes mountains               1
Imperial palace of Ming and Qing dynasties                 1
Largest religious monument, Hindu-Buddhist temple          1
Gothic masterpiece, medieval Catholic cathedral            1
Urban park oasis in Manhattan                              1
Casino resorts, entertainment, nightlife                   1
Art Deco skyscraper, NYC icon                              1
Suspension bridge, engineering marvel                      1
Memorial to President Abraham Lincoln                      1
GaudÃ­'s unfinished basilica, unique architecture           1
Original Disney theme park                                 1
Disney World's flagship park with Cinderella Castle        1
Massive canyon carved by Colorado River                    1
Only remaining ancient wonder, pharaoh's tomb              1
Tilted bell tower, architectural anomaly                   1
Opulent royal residence, Hall of Mirrors                   1
Ancient citadel, Parthenon temple                          1
Tallest building in the world                              1
Clock tower, Westminster Palace                            1
Victorian Gothic suspension bridge                         1
Official residence of British monarch                      1
Art Deco statue of Jesus Christ                            1
Name: count, dtype: int64